body {
  background-image: url('https://wallpapercave.com/wp/wp7486978.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  th:nth-child(1), td:nth-child(1) {
    color: black;
    background: gold;
}

  th:nth-child(2), td:nth-child(2) {
    color: white;
    background: green;
}

  th:nth-child(3), td:nth-child(3) {
    color: white;
    background: blue;
}

  th:nth-child(4), td:nth-child(4) {
    color: white;
    background: purple;
}

  th:nth-child(5), td:nth-child(5) {
    color: white;
    background: orange;
}

  th:nth-child(6), td:nth-child(6) {
    color: white;
    background: red;
}

  th:nth-child(7), td:nth-child(7) {
    color: black;
    background: red;
}
}