/*
File: styles.css
GUI Assignment: Creating Your First Web Page
Christian Dodge

This file is for stylizing the text for Character Roles.html.

Changelog:
9/7/2024: Created by CD and edited it significantly.

Image Source(s):
Wallpaper/background: https://wallpapercave.com/wp/wp7486978.jpg
*/

body {
/* This is for the background image. */
  background-image: url('https://wallpapercave.com/wp/wp7486978.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
/* This is for the background image. */


/* This formats text alignment. */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/* This formats text alignment. */


/* This styles the table. */
  th:nth-child(1), td:nth-child(1) {
    color: black;
    background: lightgray;
}

  th:nth-child(2), td:nth-child(2) {
    color: black;
    background: lightgray;
}

  th:nth-child(3), td:nth-child(3) {
    color: black;
    background: lightgray;
}

  th:nth-child(4), td:nth-child(4) {
    color: black;
    background: lightgray;
}
/* This styles the table. */
}