body {
  background-image: url('https://wallpapercave.com/wp/wp7486978.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  th:nth-child(1), td:nth-child(1) {
    color: black;
    background: lightgray;
}

  th:nth-child(2), td:nth-child(2) {
    color: black;
    background: lightgray;
}

  th:nth-child(3), td:nth-child(3) {
    color: black;
    background: lightgray;
}

  th:nth-child(4), td:nth-child(4) {
    color: black;
    background: lightgray;
}
}